
@import 'mdls';
*{
    @include reset();
}
body{
    height: 100vh;
    @include disp-flex(flex-start,center,column);
}

.container{
    @include disp-flex(center,center,column);
    position: relative;
    .cJarum{
        @include w-h(400px,400px);
        background-color: rgb(93, 93, 94);
        border-radius: 50%;
        box-shadow: 3px 3px 4px black;
        @include disp-flex(center,center,column);
        position: relative;
        .jarum{
            position: absolute;
            right: 50%;
            transform: rotate(90deg);
            transform-origin: 100%;
            transition: all 0.05s cubic-bezier(0.1, 2.7, 0.58, 1);
        }
        .jam{
            width: 35%;
            height: 8px;
            background: #22753b;
            box-shadow: 0 0 3px black;
            @include disp-flex(center,center,column);
            &::before{
                content: '';
                position: absolute;
                width: 10px;
                height: 15px;
                background: #22753b;
                left: -3px;
                border-top-left-radius: 15px;
                border-bottom-left-radius: 15px;
                box-shadow: 0 0 3px black;
            }
        }
        .menit{
            width: 39%;
            height: 5px;
            background: #1d1864;
            box-shadow: 0 0 3px black;
            @include disp-flex(center,center,column);
            &::before{
                content: '';
                position: absolute;
                width: 8px;
                height: 12px;
                background: #1d1864;
                left: -3px;
                border-top-left-radius: 15px;
                border-bottom-left-radius: 15px;
                box-shadow: 0 0 3px black;
            }
        }
        .detik{
            width: 40%;
            height: 2px;
            background: #ffffff;
            box-shadow: 0 0 3px black;
            @include disp-flex(center,center,column);
            &::before{
                content: '';
                position: absolute;
                width: 3px;
                height: 6px;
                background: #ffffff;
                left: -3px;
                border-top-left-radius: 15px;
                border-bottom-left-radius: 15px;
                box-shadow: 0 0 3px black;
            }
        }
        .titik{
            width: 15px;
            height: 15px;
            background-color: rgb(29, 12, 90);
            border-radius: 50%;
            z-index: 99;
            box-shadow: 2px 2px 3px black;
        }
    }

    // ---------------------------------------- angka
    .angka{
        @include w-h(400px,400px);
        border-radius: 50%;
        @include disp-flex(center,center,column);
        position: absolute;
        .angka{
            height: 100%;
            width: 2px;
            position: absolute;
            color: #5569ff;
            // padding: 5px;
            &::before{
                border-bottom-left-radius: 20px;
                border-bottom-right-radius: 20px;
                padding: 2px;
                filter: drop-shadow(2px 2px 1px black);
                position: absolute;
                font-size: 2rem;
            }
            &::after{
                border-bottom-left-radius: 20px;
                border-bottom-right-radius: 20px;
                padding: 2px;
                filter: drop-shadow(2px 2px 1px black);
                position: absolute;
                font-size: 2rem;
            }
        }
        .a1{
            &::before{
                content: '12';
                top: 0;
            }
            &::after{
                content: '6';
                bottom: 0;
            }
        }
        .a2{
            transform: rotate(30deg);
            &::before{
                content: '1';
                top: 0;
                transform: rotate(-30deg);
                color: var(--afterBack, #5569ff);
            }
            &::after{
                content: '7';
                bottom: 0;
                transform: rotate(-30deg);
            }
        }
        .a3{
            transform: rotate(60deg);
            &::before{
                content: '2';
                top: 0;
                transform: rotate(-60deg);
            }
            &::after{
                content: '8';
                bottom: 0;
                transform: rotate(-60deg);
            }
        }
        .a4{
            transform: rotate(90deg);
            &::before{
                content: '3';
                top: 0;
                transform: rotate(-90deg);
            }
            &::after{
                content: '9';
                bottom: 0;
                transform: rotate(-90deg);
            }
        }
        .a5{
            transform: rotate(120deg);
            &::before{
                content: '4';
                top: 0;
                transform: rotate(-120deg);
            }
            &::after{
                content: '10';
                bottom: 0;
                transform: rotate(-120deg);
            }
        }
        .a6{
            transform: rotate(150deg);
            &::before{
                content: '5';
                top: 0;
                transform: rotate(-150deg);
            }
            &::after{
                content: '11';
                bottom: 0;
                transform: rotate(-150deg);
            }
        }
    }
}

.test{
    margin-top: 10px;
}
